/* .about {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  scroll-margin-top: 20rem;
}

.about .about__left {
  max-width: 40rem;
  flex: 1;
}

.about .about__left p {
  margin: 1rem 0 2rem;
}

.about .about__left ul {
  margin-left: -1.2rem;
}

.about .about__left ul li {
  display: inline-block;
}

.about .about__left ul li a {
  display: inline-block;
  padding: 1rem;
}

.about .about__right {
  flex: 1;
  max-width: 66rem;
}

@media only screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .about .about__left {
    max-width: 66rem;
    text-align: center;
  }

  .about .about__right {
    text-align: center;
  }
} */

.about{
  width: 100%;
  max-width: 120rem;
  padding: 0 4rem;
  margin: auto auto;
  display: flex;
  transition: .3s ease-out;
  text-align: justify;
  justify-content: space-between;
  gap: 4;
}

.about__left{
  max-width: 40rem;
  flex: 1;
}

.about__right{
  flex: 1;
  max-width: 62rem;
  margin-left: 3rem;
}

#contact{
  z-index: 30;
  max-width: 40rem;
  height: auto;
  margin: 0 auto;
  position: relative;
}

#contact > form{
  display:grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 5rem 0 5rem 0;
  border-radius: 5rem;
  border-color: var(--tertiary-color);
  border-width: 1px;
  border-style: solid;
  background-color: var(--light-tertiary-color);
  margin-bottom: 5rem;
}

input{
  width: 80%;
  height: 3rem;
  margin: 0 auto;
  border-color: var(--tertiary-color);
  border-width: 1px;
  border-style: solid;
  border-radius: 2rem;
  padding: 1rem;
}

textarea{
  width: 80%;
  height: 10rem;
  margin: 0 auto;
  border-color: var(--tertiary-color);
  border-width: 1px;
  border-style: solid;
  border-radius: 2rem;
  padding: 1rem;
}

label > h2{
  text-align: center;
  margin-bottom: 4rem;
}